body{
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #fcf0e2;
}

.wrapper {
    width: 100%;
    perspective: 10px;
}

section {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    transform-style: preserve-3d;
}

section .right {
    justify-content: right;
}

section .left {
    justify-content: left;
}

.background,
.foreground {
    position: absolute;
}

.background {
    width: 100%;
    transform: translateZ(-10px) scale(2);
}

.song {
    width: 30%;
    aspect-ratio: 1 / 1;
    background-color: #fff;
    margin: 10px 10px;
    border-radius: 50px;
}
