.box2 {
    width: 500px;
    height: 500px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.box2 > svg {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.circle2 {
    fill: none;
    stroke: url(#gradient2);
    stroke-width: 20;
    stroke-linecap: round;
}

.blur2 {
    filter: blur(50px);
}

.backcircle2 {
    stroke: rgba(255, 255, 255, .2);
}

.progress2 {
    stroke-dasharray: 1414;
    stroke-dashoffset: 1414;
    transform-origin: center center;
    transform: rotateZ(-90deg);
}

.texts2 {
    width: 50%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.lyric2 {
    font-size: 1.5em;
    transition: .5s;
    width: 100%;
    background-size: 100% 1100%;
    background-image: linear-gradient(#049cc8,#1089b7,#05abcf,#0094ce,#058bcd,#037bba,#5aaac0,#0ea5d1,#1788ba,#04a1d9,#0e82b4);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-weight: bold;
    animation: gradient2 10s linear infinite;
    font-weight: bold;
}

@keyframes gradient2 {
    0% {
        background-position: 0% 0%;
    }
    100% {
        background-position: 0% 100%;
    }
}

/* .play2 {
    background: none;
    border-top: 50px solid transparent;
    border-bottom: 50px solid transparent;
    border-left: 75px solid #049cc8;
    position: absolute;
    z-index: 10;
    cursor: pointer;
    transition: .5s ease-out;
    position: absolute;
} */

.play-container2 {
    position: absolute;
    top: -50px;
    right: -50px;
    margin: 20px;
}

.play2 {
    background-color: #049cc8; /* Add background color */
    width: 75px; /* Set width */
    height: 100px; /* Set height */
    clip-path: polygon(0% 0%, 100% 50%, 0% 100%); /* Create a triangle shape */
    transition: .5s ease-out;
    position: absolute;
    opacity: 1; /* Set initial opacity */
    pointer-events: initial; /* Set initial pointer events */
}

.stop2 {
    background-color: #FF0000; /* Add background color for stop button */
    width: 75px; /* Set width */
    height: 100px; /* Set height */
    clip-path: polygon(0% 0%, 50% 0%, 50% 100%, 0% 100%); /* Create a rectangle shape */
    position: absolute;
    opacity: 0; /* Set initial opacity to hide */
    pointer-events: none; /* Set initial pointer events to none */
    transition: .5s ease-out;
}

.play-box2 {
    background-color: #000; /* Background color of the box */
    width: 150px; /* Set width, slightly larger than the play button */
    height: 150px; /* Set height, slightly larger than the play button */
    position: absolute;
    top: -25px; /* Adjust to position the box relative to the play button */
    right: -25px; /* Adjust to position the box relative to the play button */
    border-radius: 50%;
}

.time2 {
    position: absolute;
    top: 15%;
    font-size: 1.5em;
    color: rgba(255, 255, 255, .5);
}
